body {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #fff;
	overflow: hidden;
	}
#surround {
	width: 70%;
/*	width: 2000px;*/
/*	height: 2000px;	*/
	margin: 50px auto;
	text-align: center;
	}
/*#navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	}*/
/*	
#flickr {
	position: absolute;
	border: 1px solid #000;
	top: 100px;
	left: 300px;
	width: 100px;
	height: 100px;
	}
#delicious {
	position: absolute;
	border: 1px solid #000;
	top: 1500px;
	right: 20px;
	width: 100px;
	height: 100px;
	}
#twitter {
	position: absolute;
	border: 1px solid #000;
	bottom: 100px;
	left: 700px;
	width: 100px;
	height: 100px;
	}
*/		
a {
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
h1 {
	text-indent: -4999em;	
	margin: 0 auto;
	width: 147px;
	height: 86px;
	margin-bottom: 40px;
	}
h1 a {
	background: transparent url("/images/logo.png") top left no-repeat;
	width: 147px;
	height: 86px;
	display: block;
	}
h2 {
	margin: 0 auto;
	width: 300px;
	margin-bottom: 40px;
	font-size: 1.3em;
	font-weight: bold;
	}
h2 a {
	display: block;
	width: 300px;
	padding-top: 105px;
	background: transparent url("/images/bhf.png") top left no-repeat;
	color: #000;
	}
h2 a:hover {
	color: #dc062c;
	}
#linkage {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    font-weight: bold;    
    text-transform: lowercase;
    }
#linkage li {
    padding: 0;
    margin: 0;
    }
.flickr {
    color: #000;
    }
.flickr .start {
    color: #0063DC;
    }
.flickr .end {
    color: #FF0084;
    }
.delicious {
    color: #000;
    }    
.delicious .start {
    color: #0000FF;
    }
.delicious .mid {
    color: #000;
    }
.delicious .end {
    color: #DDDDDD;
    }
.twitter {
    color: #000;
    }
.twitter span {
    color: #33CCFF;
    }